<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ustc.sse.assistant"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    			android:debuggable="true" android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name="MainScreen"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".contact.ContactDetail"></activity>
        <activity android:name=".contact.ContactList"></activity>
        <activity android:name=".contact.ContactEdit"></activity>
        <activity android:name=".contact.ContactSelection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".event.EventAdd"></activity>
        <provider android:enabled="true" android:name=".event.provider.EventProvider" android:authorities="@string/event_authority" android:grantUriPermissions="true"></provider>
        <provider android:name=".event.provider.EventContactProvider" android:authorities="@string/event_contact_authority"></provider>
        <activity android:name=".setting.Setting"></activity>
        <activity android:name=".help.HelpActivity"></activity>
        <receiver android:name=".event.broadcast.EventBroadcastReceiver"></receiver>

    </application>


</manifest> 